/* Other rules */

body {
  font-family: "Arial";
  background-color: black;
}

.loading img {
  width: 500px;
  height: auto;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: -300px;
  left: 100px;
  animation: spidey 1.5s ease;
}

@keyframes spidey {
  from {
    top: -300px;
    left: -300px;
  }
  50% {
    top: 250px;
    transform: translateX(500px);
  }

  to {
    top: -500px;
    transform: translateX(700px);
    display: none;
  }
}

/* scroll up */
.scrollUp {
  position: "fixed";
  bottom: 50;
  right: 30;
  cursor: "pointer";
  transition-duration: "0.2s";
  transition-timing-function: "linear";
  transition-delay: "0s";
  z-index: 1000;
}

.scrollUp:hover {
  background-color: white;
  font-weight: bold;
  transform: scale(1.2);
  transition: all 400ms ease;
}

/* HEADER */
.header {
  background-color: black;
  color: white;
  font-family: "Avengers";
}

.header-img {
  width: contain;
  text-align: center;
}

.header img {
  width: 250px;
  height: 170px;
  object-fit: contain;
}

.header nav {
  position: relative;
  border-top: 1px solid #fb231f;
  border-bottom: 1px solid #fb231f;
}

.header ul {
  width: 60%;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.header nav a {
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.header nav a:hover {
  background-color: #fb231f;
  color: black;
}

.header nav img {
  position: absolute;
  width: 70px;
  top: 50%;
  margin-top: -17px;
  height: 35px;
  object-fit: cover;
}

.header nav img:hover {
  cursor: pointer;
}

.header .username {
  position: absolute;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
}

.deadpool {
  border-radius: 70%;
}

/* CHARACTERS AND COMICS */
/* CONTAINER / GRID */

.container {
  margin: 50px 20px;
}

.input {
  text-align: center;
  padding: 30px;
}

.input input {
  width: 300px;
  padding: 12px 20px;
  outline: none;
  font-size: 16px;
  font-family: "CaptainMarvel";
}

.container .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  position: relative;
  width: 17%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 0 white;
  /* border: 1px solid white; */
}

.item:hover img {
  opacity: 0.1;
  border-radius: 9px 9px 0 0;
}

.item a,
.item > div {
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

.item p {
  font-family: "Panthera";
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.item > p {
  padding-top: 40px;
}

.item p::-webkit-scrollbar {
  display: none;
}

.item img {
  width: 100%;
  height: 205px;
  object-fit: cover;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.item .description {
  opacity: 0;
  position: absolute;
  /* z-index: 1000; */
  top: 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-family: "CaptainMarvel";
  text-align: justify;
  padding: 30px 15px 15px 15px;
  width: 100%;
  max-height: 190px;
  overflow: scroll;
}

.item:hover .description {
  opacity: 1;
  z-index: 1000;
}

.heart {
  z-index: 1000;
  position: absolute;
  color: white;
  bottom: 45px;
  left: 5px;
  padding: 3px;
  border-radius: 50px;
}

.heart-red {
  z-index: 1000;
  position: absolute;
  color: red;
  bottom: 45px;
  left: 5px;
  padding: 3px;
  border-radius: 50px;
}

.heart:hover {
  cursor: pointer;
  background-color: red;
}

.heart-red:hover {
  cursor: pointer;
  background-color: white;
}

/* CHARACTER COMICS*/

.character-comics {
  color: white;
  padding: 30px;
  margin-top: 60px;
}

.character-infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.character-infos img {
  width: 340px;
  height: 270px;
  object-fit: cover;
}

.character-infos div {
  width: 40%;
}

.character-infos h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Spidey";
}

.character-infos p {
  line-height: 18px;
}

.character-comics .comics-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0;
}

.character-comics .comics {
  box-shadow: 0 0 5px 0 #fb231f;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  height: 250px;
  margin-bottom: 30px;
}

.character-comics .comics h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.character-comics .comics div {
  display: flex;
  align-items: center;
}

.character-comics .comics img {
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.character-comics .comics p {
  margin-left: 10px;
  overflow: scroll;
  height: 120px;
  line-height: 20px;
}

.character-comics .comics p::-webkit-scrollbar {
  display: none;
}

/* FAVORITES */
.favorites {
  color: white;
}

/* LOGIN / SIGNUP */

.form {
  color: white;
  font-family: "Thor";
}

.form .wrapper {
  width: 30%;
  margin: 80px auto;
  box-sizing: border-box;
}

.form-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.form-header a:first-child {
  animation: translateLeft 1.2s ease-out;
}

.form-header a:last-child {
  animation: translateRight 1.2s ease-out;
}

@keyframes translateLeft {
  from {
    transform: translateX(-200%);
  }
}

@keyframes translateRight {
  from {
    transform: translateX(200%);
  }
}

.form-header a {
  width: 50%;
  text-align: center;
  border: 2px solid #fb231f;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.loginpage,
.signup-page {
  background-color: #fb231f;
  color: black;
}

.form form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: "arial";
}

form input {
  border: none;
  padding: 10px 20px;
  outline: none;
  font-size: 13px;
  font-family: "CaptainMarvel";
  margin-bottom: 10px;
  border: 1px solid white;
}

.form-error,
.pass-error {
  border: none;
  padding: 10px 20px;
  outline: none;
  color: red;
  border: 1px solid red;
  font-size: 13px;
  font-family: "CaptainMarvel";
  margin-bottom: 10px;
}

form input[type="submit"] {
  width: 30%;
  margin: 0 auto;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fb231f;
}

/* FAVORITES */
.favorites {
  position: relative;
  margin-top: 70px;
  font-family: "CaptainMarvel";
}

.favorites h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-family: "Panthera";
}

.favorites .container {
  display: flex;
  width: 80%;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.favorites .container div {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 15px;
}

.favorites .container > div {
  border: 1px solid white;
}

.favorites .container h2 {
  font-size: 15px;
  text-align: center;
}

.favorites img {
  width: 170px;
  height: 190px;
  margin-bottom: 20px;
  object-fit: cover;
  box-sizing: border-box;
}

.favorites button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: inherit;
}

.favorites button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.favorite p {
  margin-top: 12px;
  font-size: 12px;
}

.deadpool-love {
  position: absolute;
  top: -70px;
  left: 55%;
  /* margin-left: -85px; */
  opacity: 0.8;
  z-index: -1;
}
/* MEDIA QUERIES */

@media (max-width: 1075px) {
  .header ul {
    width: 100%;
  }

  .header nav img {
    top: 80px;
    /* margin-top: -17px; */
    height: 35px;
  }

  .header .username {
    /* margin-top: -5px; */
    top: 70px;
  }
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.page {
  color: red;
  margin: 0 20px;
}

.pagination button {
  font-family: "Avengero";
  font-size: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.pagination button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 1235px) {
  .form .wrapper {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .item {
    width: 30%;
  }

  .heart:hover,
  .heart-red:hover {
    cursor: initial;
    background-color: initial;
  }
}

@media (max-width: 1000px) {
  .favorites .container div {
    width: 45%;
  }
}

@media (max-width: 940px) {
  .form .wrapper {
    width: 50%;
  }

  .character-comics .comics {
    width: 40%;
  }
}

@media (max-width: 930px) {
  .form .wrapper {
    width: 50%;
  }
}

@media (max-width: 770px) {
  @keyframes spidey {
    from {
      top: -300px;
      left: -500px;
    }
    50% {
      top: 300px;
      transform: translateX(200px);
    }

    to {
      top: -500px;
      transform: translateX(700px);
      display: none;
    }
  }
}

@media (max-width: 760px) {
  .character-comics .comics {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .header ul {
    justify-content: center;
    font-size: 10px;
  }

  .item {
    width: 45%;
  }

  .header ul {
    font-size: 12px;
  }

  .form .wrapper {
    width: 60%;
  }

  .character-infos {
    flex-direction: column;
  }

  .character-infos img {
    margin-bottom: 20px;
  }

  .character-infos h1 {
    font-size: 15px;
  }

  .character-infos p {
    display: none;
  }
}

@media (max-width: 640px) {
  .favorites .container div {
    width: 60%;
  }
}

@media (max-width: 625px) {
  .form .wrapper {
    width: 80%;
    font-size: 12px;
  }

  .form-header a,
  form input {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .character-infos h1 {
    font-size: 12px;
  }
  .character-comics .comics {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .favorites .container > div {
    width: 90%;
  }

  .favorites .container > div div,
  .favorites .container > div div img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .item {
    width: 70%;
  }

  @keyframes spidey {
    from {
      top: -300px;
      left: -500px;
    }
    50% {
      top: 300px;
      transform: translateX(100px);
    }

    to {
      top: -500px;
      transform: translateX(400px);
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .header img {
    width: 100%;
  }

  .input input {
    width: 90%;
    padding: 12px 20px;
    outline: none;
    font-size: 12px;
    font-family: "CaptainMarvel";
  }

  .form-header {
    flex-direction: column;
  }

  .form-header a {
    width: 100%;
  }

  .character-infos img {
    width: 100%;
  }

  .loading img {
    width: 300px;
  }

  @keyframes spidey {
    from {
      top: -300px;
      left: -500px;
    }
    50% {
      top: 300px;
      transform: translateX(50px);
    }

    to {
      top: -500px;
      transform: translateX(200px);
      display: none;
    }
  }
}

@media (max-width: 340px) {
  .favorites .container {
    width: 95%;
    margin: 30px 5px;
  }
}
