/* Other rules */

/* FONTS */

/* header fonts */
@font-face {
  font-family: "Avengers";
  src: url("./assets/fonts/Avengero-Disassembled.eot");
  src: url("./assets/fonts/Avengero-Disassembled.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Avengero-Disassembled.woff2") format("woff2"),
    url("./assets/fonts/Avengero-Disassembled.woff") format("woff"),
    url("./assets/fonts/Avengero-Disassembled.ttf") format("truetype"),
    url("./assets/fonts/Avengero-Disassembled.svg#Avengero-Disassembled")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marvel";
  src: url("./assets/fonts/Marvel-Regular.eot");
  src: url("./assets/fonts/Marvel-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Marvel-Regular.woff2") format("woff2"),
    url("./assets/fonts/Marvel-Regular.woff") format("woff"),
    url("./assets/fonts/Marvel-Regular.ttf") format("truetype"),
    url("./assets/fonts/Marvel-Regular.svg#Marvel-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* favorites fonts */
@font-face {
  font-family: "CaptainMarvel";
  src: url("./assets/fonts/CaptainMarvel.eot");
  src: url("./assets/fonts/CaptainMarvel.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/CaptainMarvel.woff2") format("woff2"),
    url("./assets/fonts/CaptainMarvel.woff") format("woff"),
    url("./assets/fonts/CaptainMarvel.ttf") format("truetype"),
    url("./assets/fonts/CaptainMarvel.svg#CaptainMarvel") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Panthera";
  src: url("./assets/fonts/Panthera.eot");
  src: url("./assets/fonts/Panthera.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Panthera.woff2") format("woff2"),
    url("./assets/fonts/Panthera.woff") format("woff"),
    url("./assets/fonts/Panthera.ttf") format("truetype"),
    url("./assets/fonts/Panthera.svg#Panthera") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Assemble";
  src: url("./assets/fonts/HeroesAssembleBoldExpandtalic.eot");
  src: url("./assets/fonts/HeroesAssembleBoldExpandtalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.woff2") format("woff2"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.woff") format("woff"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.ttf") format("truetype"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.svg#HeroesAssembleBoldExpandtalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "THOR";
  src: url("./assets/fonts/THORRagnarok.eot");
  src: url("./assets/fonts/THORRagnarok.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/THORRagnarok.woff2") format("woff2"),
    url("./assets/fonts/THORRagnarok.woff") format("woff"),
    url("./assets/fonts/THORRagnarok.ttf") format("truetype"),
    url("./assets/fonts/THORRagnarok.svg#THORRagnarok") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spidey";
  src: url("./assets/fonts/mightyspidey.eot");
  src: url("./assets/fonts/mightyspidey.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/mightyspidey.woff2") format("woff2"),
    url("./assets/fonts/mightyspidey.woff") format("woff"),
    url("./assets/fonts/mightyspidey.ttf") format("truetype"),
    url("./assets/fonts/mightyspidey.svg#mightyspidey") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avengero";
  src: url("./assets/fonts/Avengero.eot");
  src: url("./assets/fonts/Avengero.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Avengero.woff2") format("woff2"),
    url("./assets/fonts/Avengero.woff") format("woff"),
    url("./assets/fonts/Avengero.ttf") format("truetype"),
    url("./assets/fonts/Avengero.svg#Avengero") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ________________ */
/* APP */

body {
  font-family: "Arial";
  background-color: black;
}

/* HEADER */
.header {
  background-color: black;
  color: white;
  font-family: "Avengers";
}

.header-img {
  width: contain;
  text-align: center;
}

.header img {
  width: 250px;
  height: 170px;
  object-fit: contain;
}

.header nav {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.header ul {
  width: 40%;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.header nav a {
  padding: 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.header nav a:hover {
  background-color: red;
  color: black;
}

/* CHARACTERS */

.container {
  margin: 30px 20px;
}

.input {
  text-align: center;
  padding: 30px;
}

.input input {
  width: 300px;
  padding: 12px 20px;
  outline: none;
  font-size: 16px;
  font-family: "CaptainMarvel";
}

.container .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 17%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 0 white;
  /* border: 1px solid white; */
}

.item:hover img {
  opacity: 0.1;
  border-radius: 9px 9px 0 0;
}

.item a,
.item > div {
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

.item p {
  font-family: "Panthera";
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.item p::-webkit-scrollbar {
  display: none;
}

.item img {
  width: 100%;
  height: 205px;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.item .description {
  opacity: 0;
  position: absolute;
  /* z-index: 1000; */
  top: 0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-family: "CaptainMarvel";
  text-align: justify;
  padding: 15px;
  width: 100%;
  max-height: 190px;
  overflow: scroll;
}

.item:hover .description {
  opacity: 1;
  z-index: 1000;
}

/* CHARACTER COMICS*/

.character-comics {
  color: white;
  padding: 30px;
}

.character-infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.character-infos img {
  width: 340px;
  height: 270px;
  object-fit: cover;
}

.character-infos div {
  width: 40%;
}

.character-infos h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Spidey";
}

.character-infos p {
  line-height: 18px;
}

.character-comics .comics-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0;
}

.character-comics .comics {
  box-shadow: 0 0 5px 0 red;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  height: 250px;
  margin-bottom: 30px;
}

.character-comics .comics h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.character-comics .comics div {
  display: flex;
  align-items: center;
}

.character-comics .comics img {
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.character-comics .comics p {
  margin-left: 10px;
  overflow: scroll;
  height: 120px;
  line-height: 20px;
}

.character-comics .comics p::-webkit-scrollbar {
  display: none;
}

/* */
