/* Reset rules */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */

@font-face {
  font-family: "Avengers";
  src: url("./assets/fonts/Avengero-Disassembled.eot");
  src: url("./assets/fonts/Avengero-Disassembled.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Avengero-Disassembled.woff2") format("woff2"),
    url("./assets/fonts/Avengero-Disassembled.woff") format("woff"),
    url("./assets/fonts/Avengero-Disassembled.ttf") format("truetype"),
    url("./assets/fonts/Avengero-Disassembled.svg#Avengero-Disassembled")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marvel";
  src: url("./assets/fonts/Marvel-Regular.eot");
  src: url("./assets/fonts/Marvel-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Marvel-Regular.woff2") format("woff2"),
    url("./assets/fonts/Marvel-Regular.woff") format("woff"),
    url("./assets/fonts/Marvel-Regular.ttf") format("truetype"),
    url("./assets/fonts/Marvel-Regular.svg#Marvel-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* favorites fonts */
@font-face {
  font-family: "CaptainMarvel";
  src: url("./assets/fonts/CaptainMarvel.eot");
  src: url("./assets/fonts/CaptainMarvel.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/CaptainMarvel.woff2") format("woff2"),
    url("./assets/fonts/CaptainMarvel.woff") format("woff"),
    url("./assets/fonts/CaptainMarvel.ttf") format("truetype"),
    url("./assets/fonts/CaptainMarvel.svg#CaptainMarvel") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Panthera";
  src: url("./assets/fonts/Panthera.eot");
  src: url("./assets/fonts/Panthera.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Panthera.woff2") format("woff2"),
    url("./assets/fonts/Panthera.woff") format("woff"),
    url("./assets/fonts/Panthera.ttf") format("truetype"),
    url("./assets/fonts/Panthera.svg#Panthera") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Assemble";
  src: url("./assets/fonts/HeroesAssembleBoldExpandtalic.eot");
  src: url("./assets/fonts/HeroesAssembleBoldExpandtalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.woff2") format("woff2"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.woff") format("woff"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.ttf") format("truetype"),
    url("./assets/fonts/HeroesAssembleBoldExpandtalic.svg#HeroesAssembleBoldExpandtalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "THOR";
  src: url("./assets/fonts/THORRagnarok.eot");
  src: url("./assets/fonts/THORRagnarok.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/THORRagnarok.woff2") format("woff2"),
    url("./assets/fonts/THORRagnarok.woff") format("woff"),
    url("./assets/fonts/THORRagnarok.ttf") format("truetype"),
    url("./assets/fonts/THORRagnarok.svg#THORRagnarok") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spidey";
  src: url("./assets/fonts/mightyspidey.eot");
  src: url("./assets/fonts/mightyspidey.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/mightyspidey.woff2") format("woff2"),
    url("./assets/fonts/mightyspidey.woff") format("woff"),
    url("./assets/fonts/mightyspidey.ttf") format("truetype"),
    url("./assets/fonts/mightyspidey.svg#mightyspidey") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avengero";
  src: url("./assets/fonts/Avengero.eot");
  src: url("./assets/fonts/Avengero.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Avengero.woff2") format("woff2"),
    url("./assets/fonts/Avengero.woff") format("woff"),
    url("./assets/fonts/Avengero.ttf") format("truetype"),
    url("./assets/fonts/Avengero.svg#Avengero") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
